﻿@model ProdajSI.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<div class="row">
    <div class="col-md-8 offset-2">
        @{
            var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
            if (loginProviders.Count() == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
                {
                    @Html.AntiForgeryToken()
                    <div id="socialLoginList">
                        <p class="text-center">
                            @foreach (AuthenticationDescription p in loginProviders)
                            {
                                var width = 100 / loginProviders.Count();
                                <button type="submit" class="btn btn-outline-secondary" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                            }
                        </p>
                    </div>
                }
            }
        }
    </div>
</div>
