﻿@using ProdajSI.Models
@model LoginViewModel
@{
    ViewBag.Title = "Sign in";
}


<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-center mt-4 mb-4">@ViewBag.Title.</h1>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group mt-5">
                    <div class="row">
                        <div class="col-md-8 offset-2">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.Email) })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <div class="row">
                        <div class="col-md-8 offset-2">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.Password) })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group mt-5">
                    <div class="row">
                        <div class="col-md-8 offset-2 text-center">
                            <button class="btn btn-outline-primary w-100" type="submit">SIGN IN</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8 offset-2 text-center">
                            @Html.ActionLink("Register as a new user", "Register")
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-3">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}