﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarAccountDropdown" role="button" data-toggle="dropdown">
                @User.Identity.GetUserName()
            </a>
            <div class="dropdown-menu">
                @Html.ActionLink("Settings", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                @Html.ActionLink("Post Ad", "Create", "Ads", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                @Html.ActionLink("My Ads", "AdsByUser", "Ads", routeValues: new { user = User.Identity.GetUserId() }, htmlAttributes: new { @class = "dropdown-item" })
                <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item">Sign out</a>
            </div>
        </li>
    </ul>
    }
}
else
{
    <ul class="navbar-nav ml-auto">
        @Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
    </ul>
}
