﻿@model ProdajSI.Models.CreateAdViewModel

@{
    ViewBag.Title = "Post Ad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="mt-4 text-center">Post Ad</h3>

@using (Html.BeginForm("Create", "Ads", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row mt-4">
        <div class="col-md-8 offset-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Title</div>
                </div>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8 offset-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Contact</div>
                </div>
                @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8 offset-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Price</div>
                </div>
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8 offset-2">
            @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control", @rows = "5", @placeholder = "Description" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8 offset-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Title</div>
                </div>
                @Html.DropDownListFor(model => model.IdCategory, ViewBag.Category as IEnumerable<SelectListItem>, "Category", htmlAttributes: new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.IdCategory, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8 offset-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Title</div>
                </div>
                @Html.DropDownListFor(model => model.IdRegion, ViewBag.Region as IEnumerable<SelectListItem>, "Region", htmlAttributes: new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.IdRegion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8 offset-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Images</div>
                </div>
                <div class="custom-file">
                    @Html.TextBoxFor(model => model.Images, new { @type = "file", @multiple = "multiple", @accept = ".jpg,.png,.jpeg" })
                    <label id="ImagesLabel" class="custom-file-label" for="Images">Choose files</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8 offset-2 text-center">
            <button type="submit" class="btn btn-outline-primary">Create</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $("#Images").change(function () {
            document.getElementById("ImagesLabel").innerText = document.getElementById("Images").files.length + " files selected";
        })
    </script>
}
