﻿@model ProdajSI.Models.AdDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="offset-2 col-md-8">
        <h4 class="d-inline-block">@Html.DisplayFor(model => model.Title)</h4>
        <h4 class="float-right text-danger">@Html.DisplayFor(model => model.Price)</h4>
    </div>
</div>

<div class="row mt-4">
    <div class="offset-2 col-md-8">
        <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false" style="height: 402px; border: 1px solid; border-color: rgba(0,0,0,0.15)">
            <ol class="carousel-indicators">
                @{
                    for (var i = 0; i < Model.Images.Count(); i++)
                    {
                        <li data-target="#carousel" data-slide-to="@i"></li>
                    }
                }
            </ol>
            <div class="carousel-inner">
                @{
                    foreach (var url in Model.Images)
                    {
                        <div class="carousel-item">
                            <img src="@Url.Content(url)" class="d-block" style="width: auto; height: 400px; margin: auto;" />
                        </div>
                    }
                }
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="offset-2 col-md-8">
        <table class="table table-borderless">
            <tr>
                <th scope="row" class="text-right" style="width: 1px">@Html.DisplayNameFor(model => model.Category)</th>
                <td>@Html.DisplayFor(model => model.Category)</td>
            </tr>
            <tr>
                <th scope="row" class="text-right" style="width: 1px">@Html.DisplayNameFor(model => model.Region)</th>
                <td>@Html.DisplayFor(model => model.Region)</td>
            </tr>
            <tr>
                <th scope="row" class="text-right" style="width: 1px">@Html.DisplayNameFor(model => model.PostDate)</th>
                <td>@Html.DisplayFor(model => model.PostDate)</td>
            </tr>
            <tr>
                <th scope="row" class="text-right" style="width: 1px">@Html.DisplayNameFor(model => model.Contact)</th>
                <td>@Html.DisplayFor(model => model.Contact)</td>
            </tr>
            <tr>
                <th scope="row" class="text-right" style="width: 1px">@Html.DisplayNameFor(model => model.Description)</th>
                <td>@Html.DisplayFor(model => model.Description)</td>
            </tr>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        document.getElementById("carousel").children[0].firstElementChild.classList.add("active");
        document.getElementById("carousel").children[1].firstElementChild.classList.add("active");
    </script>
}
