﻿@model ProdajSI.Models.EditAdViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="mt-4 text-center">Edit Ad</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row mt-4">
        <div class="col-md-8 offset-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Title</div>
                </div>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8 offset-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Contact</div>
                </div>
                @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8 offset-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Price</div>
                </div>
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8 offset-2">
            @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control", @rows = "5", @placeholder = "Description" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8 offset-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Title</div>
                </div>
                @Html.DropDownListFor(model => model.IdCategory, ViewBag.Category as IEnumerable<SelectListItem>, "Category", htmlAttributes: new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.IdCategory, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8 offset-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Title</div>
                </div>
                @Html.DropDownListFor(model => model.IdRegion, ViewBag.Region as IEnumerable<SelectListItem>, "Region", htmlAttributes: new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.IdRegion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8 offset-2 text-center">
            @Html.ActionLink("Cancel", "AdsByUser", "Ads", routeValues: new { user = User.Identity.GetUserId() }, htmlAttributes: new { @class = "btn btn-outline-danger" })
            <button type="submit" class="btn btn-outline-success">Confirm</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}