﻿@model IEnumerable<ProdajSI.Models.CategoryListViewModel>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("search", "ads", method: FormMethod.Get))
{
    <div class="row mt-4">
        <div class="col-md-8 offset-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">@ViewBag.Category</span>
                </div>
                <input hidden name="page" value="1" />
                <input name="title" type="search" class="form-control" placeholder="Search" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-success">Search</button>
                </div>
            </div>
        </div>
    </div>
}

<div class="row mt-4">
    <div class="col-md-8 offset-2">
        <div class="row">
            @{
                foreach (var category in Model)
                {
                    <div class="col-md-3">
                        @Html.ActionLink(category.Category, "search", new { category = category.Id }, htmlAttributes: new { @class = "btn btn-block btn-outline-dark mt-2" })
                    </div>
                }
            }
        </div>
    </div>
</div>
